.menu {
  position: fixed;
  top: 0;
  right: 0;
  padding: 2.5rem 7rem;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  color: #ffffff;
  font-size: 2rem;
  z-index: 4000; //highest zindex so far

  &__search {
    width: 60rem;
    height: 5.5rem;

    &--input {
      height: 100%;
      width: 100%;
      border-radius: 3rem;
      outline: none;
      border: none;
      font-size: 2rem;
      font-family: inherit;
      font-weight: 700;
      color: #000000;
      padding: 1.5rem 2rem;
      background-color: rgba(255, 255, 255,.8);
      border: none;
      border-bottom: 3px solid transparent;
      display: block;
      transition: all .3s; 
      
      &:focus {
        outline: none;
        box-shadow: 0 1rem 2rem rgba(#000000, .1);
        border-bottom: 3px solid rgba(255, 0, 229,1);
      }

      &::-webkit-input-placeholder {
        color: rgba(30, 39, 46,.8);
      }
    }
  }

  &__app {
    &__name {
      position: fixed;
      color: #ffffff;
      font-size: 3rem;
      font-weight: 700;
      cursor: pointer;
      top: 2rem;
      left: 6rem;
      z-index: 2000;
      padding: 1rem;
      padding-top: .5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      
      & p span {
        display: inline-block;
        font-size: 3.5rem;
        color: transparent;
        -webkit-text-fill-color: transparent;
        background: linear-gradient(to bottom,rgba(56, 0, 255,1),rgba(255, 0, 229,1));    
        -webkit-background-clip: text;
        background-clip: text;
      }
  
      &::before {
        position: absolute;
        bottom: 15%;
        left: 20%;
        content: '';
        height: .3rem;
        width: 54%;
        border-radius: 3rem;
        background: #fff;
      }

      &::after {
        content: '';
        position: fixed;
        border-radius: 50%;
        background: linear-gradient(to bottom,rgba(182, 0, 255,1),rgba(27, 0, 255,1));
        height: 8rem;
        width: 8rem;
        top: 2rem;
        left: 3rem;
        z-index: -1;
      }
    }
  }

  &__item {
    position: relative;
    color: #1e272e;
    padding: 1rem;
    font-weight: 700;
    cursor: pointer;
    margin: .5rem 2.5rem;

    &--last {
      margin-right: 0;
    }

    &--svg-signup {
      height: 3rem;
      width: 3rem;
      fill: #fff;
    }

    &--svg {
      height: 3rem;
      width: 3rem;
      fill: #000000;
    }

    &--signup {
      display: flex;
      border-radius: 3rem;
      background: #000000;
      justify-content: space-between;
      color: #fff;
      padding: .8rem 1.5rem;
      transform: translateY(-.5rem);

      & > div {
        margin-left: 1.5rem;
      }
    }

    &--cart-length {
      position: absolute;
      top: -1rem;
      right: 0;
      height: 2.5rem;
      width: 2.5rem;
      border-radius: 50%;
      background: rgba(183, 28, 28,1.0);
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: #fff;
      font-size: 1.7rem;
      font-weight: 900;
    }
  }
}